- name: "MongoDB"
  pid_file: "/var/run/mongodb.pid"
- name: "Cron"
  pid_file: "/var/run/crond.pid"
- name: "Analyzer"
  pid_file: "tmp/pids/analyzer.pid"
- name: "Retranslator"
  pid_file: "tmp/pids/retranslator.pid"
- name: "Tracker Server Galileo"
  pid_file: "tmp/pids/tracker-server-galileo.pid"
- name: "Tracker Server Teltonika"
  pid_file: "tmp/pids/tracker-server-teltonika.pid"
- name: "Tracker Server TK103B"
  pid_file: "tmp/pids/tracker-server-tk103b.pid"
