- @page_title = t '.page_title'

%table.table.table-striped
  - %w{ packets_monitor daemons_status action_log }.each do |module_name|
    %tr
      %th{ :width => '20%' }= link_to t(".tool.#{module_name}"), url_for(:action => module_name)
      %td= t ".tool.#{module_name}_help"
