ul.movements-list { list-style: none outside none; margin: 0 0 0 10px; overflow-y: auto; max-height: 450px; }
.movements-list li { line-height: 22px; }

.ico-parking { background: image-url('icons/parking.png') no-repeat 0 2px; padding: 2px 22px; }
.ico-moving { background: image-url('icons/arrow_down.png') no-repeat 0 2px; padding: 2px 22px; }
.ico-show-all { background: image-url('icons/map_add.png') no-repeat 0 2px; padding: 2px 22px; }
.ico-hide-all { background: image-url('icons/map_delete.png') no-repeat 0 2px; padding: 2px 22px; }
.ico-last-point { background: image-url('icons/car.png') no-repeat 0 2px; padding: 2px 22px; }
.ico-watch { background: image-url('icons/eye.png') no-repeat 105px 2px; }
.ico-hidden { display: none; }

.inline-icon { vertical-align: middle; }