body { padding-top: 60px; }

.pull-right { color: white; }
.topbar .brand { background: image-url('satellite.png') no-repeat 10px 4px; padding: 8px 20px 12px 48px; }
.uneditable-input { cursor: default; }

ul.movements-list { list-style: none outside none; margin: 0 0 0 10px; overflow-y: auto; max-height: 450px; }
.movements-list li { line-height: 22px; }
.icon-parking { background: image-url('icons/parking.png') no-repeat 0 0; padding: 2px 0 2px 22px; }
.icon-moving { background: image-url('icons/moving.png') no-repeat 0 0; padding: 2px 0 2px 22px; }
